.code-container {
  background-color: #fff;
  border: 1px solid #ebedf1;
  border-radius: 1px;
}

.components-container{
  padding: 40px 24px;
}

.components-action{
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 0 1em;
  align-items: center;
  border-top: 1px dashed #ebedf1;
}

.components-source-wrapper{
  border-top: 1px dashed #ebedf1;
  position: relative;
  font-size: 14px;
  background-color: #f9fafb;
}